<div class="row">
    <div class="col-xs-12">
        <P>Add New Sever or Blueprint</P>
        <label>Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="severName">
        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="severContent">
        <br>
        <button class="btn btn-primary"
            (click)="onAddServer()">Add Server
        </button>
        <button class="btn btn-primary"
            (click)="onAddBlueprint()">Add Blueprint
        </button>
    </div>
</div>